<div class="py-5">
  <div class="card">
    <div class="card-header">
      <h1 class="h5">About</h1>
    </div>
    <div class="card-body">
      <a class="btn btn-outline-primary" href="https://github.com/Woetjo/leader-randomiser/issues">Request a feature or
        report an issue</a>
      <p></p>
      <p class="fw-lighter"><small><em>JSON Game data acquired from <a
        href="https://boardgamegeek.com/filepage/226395/dvg-leader-games-squad-randomizer">DVG Leader Games squad
        randomizer</a> by <a href="https://boardgamegeek.com/user/FragDaddy">FragDaddy</a></em></small></p>
    </div>
    <div class="card-footer text-muted">
      <p class="fw-lighter">Leader Randomiser web app (version 1.0.1)<br>made by <a
        href="https://boardgamegeek.com/user/Woetjo">Woetjo</a>, 2024</p>
      <a href="https://www.buymeacoffee.com/woetjo" target="_blank"><img
        src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee"
        style="height: 37.5px !important;width: 135.6px !important;"></a>
    </div>
  </div>

</div>
